*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

android/app/google-services.json
ios/firebase_app_id_file.json
ios/Runner/GoogleServices-Info.plist

# Firebase files
/app/google-services.json